In [232]:
import os
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

# Assembler les résultats des matches de tous les saisons

In [233]:
def concat_season():
    seasons=os.listdir(".")
    header=["Date","Time","Comp","Round","Day","Venue","Result","GF","GA","Opponent","Poss","Attendance","Captain","Formation","Referee","Match Report","Notes","team","season"]
    data=pd.DataFrame(columns=header)
    for season in seasons:
        if "-" in season:
            equipes=os.listdir(f"./{season}")
            for equipe in equipes:
                if "Stats" in equipe:
                    header=["Ast","PK","PKatt","Sh","SoT","CrdY","CrdR","Touches","Tkl","Int","Int","xG","npxG","xAG","SCA","GCA","Cmp","Att","Cmp%","PrgP","Carries","PrgC","Att","Succ"]
                    vals=[]
                    matchweeks=os.listdir(f"./{season}/{equipe}")
                    for matchweek in matchweeks:
                        summay=pd.read_csv(f"./{season}/{equipe}/{matchweek}/summary.csv")
                        vals.append(pd.array(summay.iloc[-1,7:]))
                    performence=pd.DataFrame(vals,columns=vals)
                    fils=pd.read_csv(f"./{season}/{equipe}/{equipe}.csv")
                    fils["team"]= " ".join(equipe.split("-")[:-1])
                    fils["season"]=season.split("-")[0]
                    data=pd.concat([data, fils], ignore_index=True)
    data.to_csv("dataset.csv")
    return data

In [234]:
data=concat_season()

In [235]:
data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Captain,Formation,Referee,Match Report,Notes,team,season,Unnamed: 0,xG,xGA
0,2010-08-15,NaN,Premier League,Matchweek 1,Sun,Away,D,1,1,Liverpool,...,NaN,4-5-1,Martin Atkinson,https://fbref.com/en/matches/4d2dd8b3/Liverpoo...,NaN,Arsenal,2010,0.0,NaN,NaN
1,2010-08-21,NaN,Premier League,Matchweek 2,Sat,Home,W,6,0,Blackpool,...,NaN,4-3-3,Mike Jones,https://fbref.com/en/matches/9e517d4d/Arsenal-...,NaN,Arsenal,2010,1.0,NaN,NaN
2,2010-08-28,NaN,Premier League,Matchweek 3,Sat,Away,W,2,1,Blackburn,...,NaN,4-2-3-1,Chris Foy,https://fbref.com/en/matches/2b39e7c0/Blackbur...,NaN,Arsenal,2010,2.0,NaN,NaN
3,2010-09-11,NaN,Premier League,Matchweek 4,Sat,Home,W,4,1,Bolton,...,NaN,4-5-1,Stuart Attwell,https://fbref.com/en/matches/8e9a6c63/Arsenal-...,NaN,Arsenal,2010,3.0,NaN,NaN
4,2010-09-18,NaN,Premier League,Matchweek 5,Sat,Away,D,1,1,Sunderland,...,NaN,4-2-3-1,Phil Dowd,https://fbref.com/en/matches/66b3fe8e/Sunderla...,NaN,Arsenal,2010,5.0,NaN,NaN

# Vérifier les valeurs manquants

In [236]:
data.isna().sum()

Date               0
Time            3040
Comp               0
Round              0
Day                0
Venue              0
Result             0
GF                 0
GA                 0
Opponent           0
Poss            3040
Attendance       884
Captain         3800
Formation          0
Referee            0
Match Report       0
Notes           9880
team               0
season             0
Unnamed: 0         0
xG              5320
xGA             5320
dtype: int64

In [237]:
data=data.drop(["Time","Comp","xG","xGA","Poss","Notes","Unnamed: 0"],axis=1)

# Encoder les carctérististiques non numérique

In [238]:
data["Date"]=pd.to_datetime(data["Date"])

In [239]:
data.dtypes

Date            datetime64[ns]
Round                   object
Day                     object
Venue                   object
Result                  object
GF                      object
GA                      object
Opponent                object
Attendance              object
Captain                 object
Formation               object
Referee                 object
Match Report            object
team                    object
season                  object
dtype: object

In [240]:
data

,Date,Round,Day,Venue,Result,GF,GA,Opponent,Attendance,Captain,Formation,Referee,Match Report,team,season
0,2010-08-15,Matchweek 1,Sun,Away,D,1,1,Liverpool,"44,722",NaN,4-5-1,Martin Atkinson,https://fbref.com/en/matches/4d2dd8b3/Liverpoo...,Arsenal,2010
1,2010-08-21,Matchweek 2,Sat,Home,W,6,0,Blackpool,"60,032",NaN,4-3-3,Mike Jones,https://fbref.com/en/matches/9e517d4d/Arsenal-...,Arsenal,2010
2,2010-08-28,Matchweek 3,Sat,Away,W,2,1,Blackburn,"25,059",NaN,4-2-3-1,Chris Foy,https://fbref.com/en/matches/2b39e7c0/Blackbur...,Arsenal,2010
3,2010-09-11,Matchweek 4,Sat,Home,W,4,1,Bolton,"59,876",NaN,4-5-1,Stuart Attwell,https://fbref.com/en/matches/8e9a6c63/Arsenal-...,Arsenal,2010
4,2010-09-18,Matchweek 5,Sat,Away,D,1,1,Sunderland,"38,950",NaN,4-2-3-1,Phil Dowd,https://fbref.com/en/matches/66b3fe8e/Sunderla...,Arsenal,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9875,2023-04-29,Matchweek 34,Sat,Away,L,0,6,Brighton,"31,584",Rúben Neves,4-4-2,David Coote,https://fbref.com/en/matches/21f920e0/Brighton...,Wolverhampton Wanderers,2022
9876,2023-05-06,Matchweek 35,Sat,Home,W,1,0,Aston Villa,"31,641",Rúben Neves,4-4-2,Stuart Attwell,https://fbref.com/en/matches/217a7faf/Wolverha...,Wolverhampton Wanderers,2022
9877,2023-05-13,Matchweek 36,Sat,Away,L,0,2,Manchester Utd,"73,570",Rúben Neves,4-4-2,John Brooks,https://fbref.com/en/matches/f5d61382/Manchest...,Wolverhampton Wanderers,2022
9878,2023-05-20,Matchweek 37,Sat,Home,D,1,1,Everton,"31,684",Rúben Neves,4-4-2,David Coote,https://fbref.com/en/matches/ff2b58c3/Wolverha...,Wolverhampton Wanderers,2022
9879,2023-05-28,Matchweek 38,Sun,Away,L,0,5,Arsenal,"60,095",Max Kilman,4-3-3,Andre Marriner,https://fbref.com/en/matches/71d5bd41/Arsenal-...,Wolverhampton Wanderers,2022

### Venue

In [241]:
data["Venue_code"]=data["Venue"].astype("category").cat.codes

### Resultat

In [242]:
resultat_encoder=LabelEncoder()
data["Result_code"]=resultat_encoder.fit_transform(data["Result"])

In [243]:
data.head(10)[["Result","Result_code"]]

  Result  Result_code
0      D            0
1      W            2
2      W            2
3      W            2
4      D            0
5      L            1
6      L            1
7      W            2
8      W            2
9      W            2

### Round

In [244]:
round_encoder=LabelEncoder()
data["Round_code"]=round_encoder.fit_transform(data["Round"])

In [245]:
data.head(10)[["Round","Round_code"]]

          Round  Round_code
0   Matchweek 1           0
1   Matchweek 2          11
2   Matchweek 3          22
3   Matchweek 4          32
4   Matchweek 5          33
5   Matchweek 6          34
6   Matchweek 7          35
7   Matchweek 8          36
8   Matchweek 9          37
9  Matchweek 10           1

### Formation

In [246]:
Formation_encoder=LabelEncoder()
data["Formation_code"]=Formation_encoder.fit_transform(data["Formation"])

In [247]:
data.head(76)[["Formation","Formation_code"]]

   Formation  Formation_code
0      4-5-1              19
1      4-3-3              16
2    4-2-3-1              12
3      4-5-1              19
4    4-2-3-1              12
..       ...             ...
71     4-4-2              18
72     4-4-2              18
73     4-4-2              18
74     4-5-1              19
75     4-5-1              19

[76 rows x 2 columns]

### Referee

In [248]:
Referee_encoder=LabelEncoder()
data["Referee_code"]=Referee_encoder.fit_transform(data["Referee"])

In [249]:
data[data["Referee"]=="Chris Foy"].head(76)[["Referee","Referee_code"]]

        Referee  Referee_code
2     Chris Foy             4
15    Chris Foy             4
25    Chris Foy             4
34    Chris Foy             4
62    Chris Foy             4
...         ...           ...
1160  Chris Foy             4
1169  Chris Foy             4
1183  Chris Foy             4
1194  Chris Foy             4
1211  Chris Foy             4

[76 rows x 2 columns]

### Day

In [250]:
data["Day_code"]=data["Date"].dt.dayofweek

In [251]:
data.head(10)

,Date,Round,Day,Venue,Result,GF,GA,Opponent,Attendance,Captain,...,Referee,Match Report,team,season,Venue_code,Result_code,Round_code,Formation_code,Referee_code,Day_code
0,2010-08-15,Matchweek 1,Sun,Away,D,1,1,Liverpool,"44,722",NaN,...,Martin Atkinson,https://fbref.com/en/matches/4d2dd8b3/Liverpoo...,Arsenal,2010,0,0,0,19,24,6
1,2010-08-21,Matchweek 2,Sat,Home,W,6,0,Blackpool,"60,032",NaN,...,Mike Jones,https://fbref.com/en/matches/9e517d4d/Arsenal-...,Arsenal,2010,1,2,11,16,28,5
2,2010-08-28,Matchweek 3,Sat,Away,W,2,1,Blackburn,"25,059",NaN,...,Chris Foy,https://fbref.com/en/matches/2b39e7c0/Blackbur...,Arsenal,2010,0,2,22,12,4,5
3,2010-09-11,Matchweek 4,Sat,Home,W,4,1,Bolton,"59,876",NaN,...,Stuart Attwell,https://fbref.com/en/matches/8e9a6c63/Arsenal-...,Arsenal,2010,1,2,32,19,41,5
4,2010-09-18,Matchweek 5,Sat,Away,D,1,1,Sunderland,"38,950",NaN,...,Phil Dowd,https://fbref.com/en/matches/66b3fe8e/Sunderla...,Arsenal,2010,0,0,33,12,35,5
5,2010-09-25,Matchweek 6,Sat,Home,L,2,3,West Brom,"60,025",NaN,...,Michael Oliver,https://fbref.com/en/matches/2b9dadaa/Arsenal-...,Arsenal,2010,1,1,34,12,25,5
6,2010-10-03,Matchweek 7,Sun,Away,L,0,2,Chelsea,"41,828",NaN,...,Mike Dean,https://fbref.com/en/matches/a10d839a/North-We...,Arsenal,2010,0,1,35,19,27,6
7,2010-10-16,Matchweek 8,Sat,Home,W,2,1,Birmingham City,"60,070",NaN,...,Martin Atkinson,https://fbref.com/en/matches/44dd7154/Arsenal-...,Arsenal,2010,1,2,36,19,24,5
8,2010-10-24,Matchweek 9,Sun,Away,W,3,0,Manchester City,"47,393",NaN,...,Mark Clattenburg,https://fbref.com/en/matches/06943b36/Manchest...,Arsenal,2010,0,2,37,19,21,6
9,2010-10-30,Matchweek 10,Sat,Home,W,1,0,West Ham,"60,086",NaN,...,Mike Jones,https://fbref.com/en/matches/2dc0c516/Arsenal-...,Arsenal,2010,1,2,1,12,28,5

### Team and Opponent

In [252]:
data["team"]=data["team"].replace("Blackburn Rovers","Blackburn")
data["team"]=data["team"].replace("Bolton Wanderers","Bolton")
data["team"]=data["team"].replace("Manchester United","Manchester Utd")
data["team"]=data["team"].replace("Newcastle United","Newcastle Utd")
data["team"]=data["team"].replace("Tottenham Hotspur","Tottenham")
data["team"]=data["team"].replace("West Bromwich Albion","West Brom")
data["team"]=data["team"].replace("West Ham United","West Ham")
data["team"]=data["team"].replace("Wolverhampton Wanderers","Wolves")
data["team"]=data["team"].replace("Queens Park Rangers","QPR")
data["team"]=data["team"].replace("Brighton and Hove Albion","Brighton")
data["team"]=data["team"].replace("Huddersfield Town","Huddersfield")
data["team"]=data["team"].replace("Sheffield United","Sheffield Utd")
data["team"]=data["team"].replace("Nottingham Forest","Nott'ham Forest")

In [253]:
label_encoder = LabelEncoder()
data["Opponent_code"] = label_encoder.fit_transform(data["Opponent"])
data["team_code"] = label_encoder.transform(data["team"])

# Feature Engineering

## AVG G

In [254]:
matches_rolling_=data.copy()
win=matches_rolling_["Result_code"].replace([1,0],0)
win=win.replace(2,1)

In [255]:
matches_rolling_=data.copy()
lose=matches_rolling_["Result_code"].replace([0,2],0)

In [256]:
matches_rolling_=data.copy()
draw=matches_rolling_["Result_code"].replace([1,2],11)
draw=draw.replace(0,1)
draw=draw.replace(11,0)

In [198]:
data["win"]=win
data["draw"]=draw
data["lose"]=lose
data.head(10)

,Date,Round,Day,Venue,Result,GF,GA,Opponent,Attendance,Captain,...,Result_code,Round_code,Formation_code,Referee_code,Day_code,Opponent_code,team_code,win,draw,lose
0,2010-08-15,Matchweek 1,Sun,Away,D,1,1,Liverpool,"44,722",NaN,...,0,0,19,24,6,19,0,0,1,0
1,2010-08-21,Matchweek 2,Sat,Home,W,6,0,Blackpool,"60,032",NaN,...,2,11,16,28,5,4,0,1,0,0
2,2010-08-28,Matchweek 3,Sat,Away,W,2,1,Blackburn,"25,059",NaN,...,2,22,12,4,5,3,0,1,0,0
3,2010-09-11,Matchweek 4,Sat,Home,W,4,1,Bolton,"59,876",NaN,...,2,32,19,41,5,5,0,1,0,0
4,2010-09-18,Matchweek 5,Sat,Away,D,1,1,Sunderland,"38,950",NaN,...,0,33,12,35,5,31,0,0,1,0
5,2010-09-25,Matchweek 6,Sat,Home,L,2,3,West Brom,"60,025",NaN,...,1,34,12,25,5,35,0,0,0,1
6,2010-10-03,Matchweek 7,Sun,Away,L,0,2,Chelsea,"41,828",NaN,...,1,35,19,27,6,11,0,0,0,1
7,2010-10-16,Matchweek 8,Sat,Home,W,2,1,Birmingham City,"60,070",NaN,...,2,36,19,24,5,2,0,1,0,0
8,2010-10-24,Matchweek 9,Sun,Away,W,3,0,Manchester City,"47,393",NaN,...,2,37,19,21,6,20,0,1,0,0
9,2010-10-30,Matchweek 10,Sat,Home,W,1,0,West Ham,"60,086",NaN,...,2,1,12,28,5,36,0,1,0,0

## Avr Goals

In [257]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("Date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [258]:
grouped_matches = data.groupby("team")

In [259]:
cols = ["GF", "GA","win","draw","lose"]
new_cols = [f"{c}_rolling" for c in cols]

In [260]:
matches_rolling = data.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

KeyError: "['win', 'draw', 'lose'] not in index"

In [261]:
matches_rolling

                   Date         Round  Day Venue Result GF GA
team
Arsenal 3    2010-09-11   Matchweek 4  Sat  Home      W  4  1  \
        4    2010-09-18   Matchweek 5  Sat  Away      D  1  1
        5    2010-09-25   Matchweek 6  Sat  Home      L  2  3
        6    2010-10-03   Matchweek 7  Sun  Away      L  0  2
        7    2010-10-16   Matchweek 8  Sat  Home      W  2  1
...                 ...           ...  ...   ...    ... .. ..
Wolves  9875 2023-04-29  Matchweek 34  Sat  Away      L  0  6
        9876 2023-05-06  Matchweek 35  Sat  Home      W  1  0
        9877 2023-05-13  Matchweek 36  Sat  Away      L  0  2
        9878 2023-05-20  Matchweek 37  Sat  Home      D  1  1
        9879 2023-05-28  Matchweek 38  Sun  Away      L  0  5

                     Opponent Attendance      Captain  ... Opponent_code
team                                                   ...
Arsenal 3              Bolton     59,876          NaN  ...             5  \
        4          Sunderland     38,950          NaN  ...            31
        5           West Brom     60,025          NaN  ...            35
        6             Chelsea     41,828          NaN  ...            11
        7     Birmingham City     60,070          NaN  ...             2
...                       ...        ...          ...  ...           ...
Wolves  9875         Brighton     31,584  Rúben Neves  ...             8
        9876      Aston Villa     31,641  Rúben Neves  ...             1
        9877   Manchester Utd     73,570  Rúben Neves  ...            21
        9878          Everton     31,684  Rúben Neves  ...            13
        9879          Arsenal     60,095   Max Kilman  ...             0

             team_code win draw lose  GF_rolling  GA_rolling  win_rolling
team
Arsenal 3            0   1    0    0    3.000000    0.666667     0.666667  \
        4            0   0    1    0    4.000000    0.666667     1.000000
        5            0   0    0    1    2.333333    1.000000     0.666667
        6            0   0    0    1    2.333333    1.666667     0.333333
        7            0   1    0    0    1.000000    2.000000     0.000000
...                ...  ..  ...  ...         ...         ...          ...
Wolves  9875        38   0    0    1    1.666667    0.666667     0.666667
        9876        38   1    0    0    1.000000    2.666667     0.333333
        9877        38   0    0    1    1.000000    2.000000     0.666667
        9878        38   0    1    0    0.333333    2.666667     0.333333
        9879        38   0    0    1    0.666667    1.000000     0.333333

              draw_rolling  lose_rolling
team
Arsenal 3         0.333333      0.000000
        4         0.000000      0.000000
        5         0.333333      0.000000
        6         0.333333      0.333333
        7         0.333333      0.666667
...                    ...           ...
Wolves  9875      0.000000      0.333333
        9876      0.000000      0.666667
        9877      0.000000      0.333333
        9878      0.000000      0.666667
        9879      0.333333      0.333333

[9763 rows x 31 columns]

In [262]:
matches_rolling[matches_rolling['team']=="Wolves"]

                  Date         Round  Day Venue Result GF GA        Opponent
team
Wolves 725  2010-09-11   Matchweek 4  Sat  Away      L  1  2          Fulham  \
       726  2010-09-18   Matchweek 5  Sat  Away      L  1  3       Tottenham
       727  2010-09-26   Matchweek 6  Sun  Home      L  1  2     Aston Villa
       728  2010-10-02   Matchweek 7  Sat  Away      L  0  2  Wigan Athletic
       729  2010-10-16   Matchweek 8  Sat  Home      D  1  1        West Ham
...                ...           ...  ...   ...    ... .. ..             ...
       9875 2023-04-29  Matchweek 34  Sat  Away      L  0  6        Brighton
       9876 2023-05-06  Matchweek 35  Sat  Home      W  1  0     Aston Villa
       9877 2023-05-13  Matchweek 36  Sat  Away      L  0  2  Manchester Utd
       9878 2023-05-20  Matchweek 37  Sat  Home      D  1  1         Everton
       9879 2023-05-28  Matchweek 38  Sun  Away      L  0  5         Arsenal

            Attendance      Captain  ... Opponent_code team_code win draw
team                                 ...
Wolves 725      25,280          NaN  ...            14        38   0    0  \
       726      35,940          NaN  ...            33        38   0    0
       727      27,511          NaN  ...             1        38   0    0
       728      14,042          NaN  ...            37        38   0    0
       729      28,582          NaN  ...            36        38   0    1
...                ...          ...  ...           ...       ...  ..  ...
       9875     31,584  Rúben Neves  ...             8        38   0    0
       9876     31,641  Rúben Neves  ...             1        38   1    0
       9877     73,570  Rúben Neves  ...            21        38   0    0
       9878     31,684  Rúben Neves  ...            13        38   0    1
       9879     60,095   Max Kilman  ...             0        38   0    0

            lose  GF_rolling  GA_rolling  win_rolling  draw_rolling
team
Wolves 725     1    1.333333    1.000000     0.333333      0.666667  \
       726     1    1.000000    1.333333     0.000000      0.666667
       727     1    1.000000    2.000000     0.000000      0.333333
       728     1    1.000000    2.333333     0.000000      0.000000
       729     0    0.666667    2.333333     0.000000      0.000000
...          ...         ...         ...          ...           ...
       9875    1    1.666667    0.666667     0.666667      0.000000
       9876    0    1.000000    2.666667     0.333333      0.000000
       9877    1    1.000000    2.000000     0.666667      0.000000
       9878    0    0.333333    2.666667     0.333333      0.000000
       9879    1    0.666667    1.000000     0.333333      0.333333

             lose_rolling
team
Wolves 725       0.000000
       726       0.333333
       727       0.666667
       728       1.000000
       729       1.000000
...                   ...
       9875      0.333333
       9876      0.666667
       9877      0.333333
       9878      0.666667
       9879      0.333333

[263 rows x 31 columns]

In [263]:
matches_rolling = matches_rolling.droplevel('team')

In [264]:
matches_rolling.columns

Index(['Date', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA', 'Opponent',
       'Attendance', 'Captain', 'Formation', 'Referee', 'Match Report', 'team',
       'season', 'Venue_code', 'Result_code', 'Round_code', 'Formation_code',
       'Referee_code', 'Day_code', 'Opponent_code', 'team_code', 'win', 'draw',
       'lose', 'GF_rolling', 'GA_rolling', 'win_rolling', 'draw_rolling',
       'lose_rolling'],
      dtype='object')

In [267]:
matches_rolling

,Date,Round,Day,Venue,Result,GF,GA,Opponent,Attendance,Captain,...,Opponent_code,team_code,win,draw,lose,GF_rolling,GA_rolling,win_rolling,draw_rolling,lose_rolling
3,2010-09-11,Matchweek 4,Sat,Home,W,4,1,Bolton,"59,876",NaN,...,5,0,1,0,0,3.000000,0.666667,0.666667,0.333333,0.000000
4,2010-09-18,Matchweek 5,Sat,Away,D,1,1,Sunderland,"38,950",NaN,...,31,0,0,1,0,4.000000,0.666667,1.000000,0.000000,0.000000
5,2010-09-25,Matchweek 6,Sat,Home,L,2,3,West Brom,"60,025",NaN,...,35,0,0,0,1,2.333333,1.000000,0.666667,0.333333,0.000000
6,2010-10-03,Matchweek 7,Sun,Away,L,0,2,Chelsea,"41,828",NaN,...,11,0,0,0,1,2.333333,1.666667,0.333333,0.333333,0.333333
7,2010-10-16,Matchweek 8,Sat,Home,W,2,1,Birmingham City,"60,070",NaN,...,2,0,1,0,0,1.000000,2.000000,0.000000,0.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9875,2023-04-29,Matchweek 34,Sat,Away,L,0,6,Brighton,"31,584",Rúben Neves,...,8,38,0,0,1,1.666667,0.666667,0.666667,0.000000,0.333333
9876,2023-05-06,Matchweek 35,Sat,Home,W,1,0,Aston Villa,"31,641",Rúben Neves,...,1,38,1,0,0,1.000000,2.666667,0.333333,0.000000,0.666667
9877,2023-05-13,Matchweek 36,Sat,Away,L,0,2,Manchester Utd,"73,570",Rúben Neves,...,21,38,0,0,1,1.000000,2.000000,0.666667,0.000000,0.333333
9878,2023-05-20,Matchweek 37,Sat,Home,D,1,1,Everton,"31,684",Rúben Neves,...,13,38,0,1,0,0.333333,2.666667,0.333333,0.000000,0.666667
9879,2023-05-28,Matchweek 38,Sun,Away,L,0,5,Arsenal,"60,095",Max Kilman,...,0,38,0,0,1,0.666667,1.000000,0.333333,0.333333,0.333333

In [268]:
dataCleaned=matches_rolling[["team_code","Opponent_code","season","Round_code","Venue_code","Referee_code","Formation_code","Day_code","GF_rolling","GA_rolling","win_rolling","draw_rolling","lose_rolling","Result_code"]]
dataCleaned.to_csv("dataCleaned.csv")

In [279]:
import pandas as pd
lis=[]
test=pd.read_csv("./2022-2023/Arsenal-Stats/Matchweek 1/summary.csv")

lis.append(pd.array(test.iloc[-1,7:]))

lis

[<PandasArray>
 [   '1',    '1',    '0',    '0',   '10',    '2',    '2',    '0',  '599',
    '29',    '9',   '17',  '1.0',  '1.0',  '0.6',   '18',    '2',  '378',
   '469', '80.6',   '40',  '359',   '15',   '17',   '13']
 Length: 25, dtype: object,
 <PandasArray>
 [   '1',    '1',    '0',    '0',   '10',    '2',    '2',    '0',  '599',
    '29',    '9',   '17',  '1.0',  '1.0',  '0.6',   '18',    '2',  '378',
   '469', '80.6',   '40',  '359',   '15',   '17',   '13']
 Length: 25, dtype: object]